/*******************************************************************************
 * Variables used throughout the theme.
 * To adjust anything, simply edit the variables below and rebuild the theme.
 ******************************************************************************/

// Colors
$columbia-blue:              #B9D9EB !default;
$columbia-primary-blue:      #1D4F91 !default;
$columbia-secondary-blue-1:  #003087 !default;
$columbia-secondary-blue-2:  #0077C8 !default;
$columbia-secondary-blue-3:  #6CACE4 !default;
$columbia-neutral-1:         #222222 !default;
$columbia-neutral-2:         #53565A !default;
$columbia-neutral-3:         #D0D0CE !default;
$columbia-neutral-4:         #F0F0F0 !default;

$red-color:           #FF3636 !default;
$red-color-dark:      #B71C1C !default;
$orange-color:        #F29105 !default;
$blue-color:          $columbia-secondary-blue-2 !default;
$blue-color-dark:     $columbia-secondary-blue-1 !default;
$cyan-color:          $columbia-secondary-blue-3 !default;
$light-cyan-color:    $columbia-blue;
$green-color:         #00ab37 !default;
$green-color-lime:    #B7D12A !default;
$green-color-dark:    #009f06 !default;
$green-color-light:   #ddffdd !default;
$green-color-bright:  #11D68B !default;
$purple-color:        $columbia-primary-blue !default;
$light-purple-color:  $columbia-secondary-blue-3;
$pink-color:          #f92080 !default;
$pink-color-light:    #ffdddd !default;
$yellow-color:        #efcc00 !default;

$grey-color:          $columbia-neutral-2 !default;
$grey-color-light:    $columbia-neutral-4;
$grey-color-dark:     $columbia-neutral-1;
$grey-900:            #2B3138;

$white-color: #ffffff !default;
$black-color: #000000 !default;

// Theme colors

$code-bg-color-light:     rgba($columbia-blue, 0.35);
$code-bg-color-dark:      rgba($columbia-secondary-blue-1, 0.35) !default;

// Font awesome location
$fa-font-path: "../webfonts";
