{% assign repo_url =  include.repository | split: '/' %}

{% if site.data.repositories.github_users contains repo_url.first %}
  {% assign show_owner = false %}
{% else %}
  {% assign show_owner = true %}
{% endif %}

{% assign fallback_card = '/assets/img/github-stats/placeholder.svg' | relative_url %}
{% assign repo_slug = include.repository | replace: '/', '-' %}
{% assign light_card = '/assets/img/github-stats/' | append: repo_slug | append: '-light.svg' | relative_url %}
{% assign dark_card = '/assets/img/github-stats/' | append: repo_slug | append: '-dark.svg' | relative_url %}

<div class="repo p-2 text-center">
  <a href="https://github.com/{{ include.repository }}">
    <img class="repo-img-light w-100" alt="{{ include.repository }}" src="{{ light_card }}" onerror="this.onerror=null;this.src='{{ fallback_card }}';">
    <img class="repo-img-dark w-100" alt="{{ include.repository }}" src="{{ dark_card }}" onerror="this.onerror=null;this.src='{{ fallback_card }}';">
  </a>
</div>
